body {
	font-family: 'Karla';
	line-height: 1.8;
	font-size: 16px;
	font-weight: 400;
	background: #fafafa;
	color: gray;
}

a {
	color: #ca82f8;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}
a:hover {
	text-decoration: underline;
	color: #ca82f8;
}
a:focus,
a:active {
	outline: none;
}

p,
span {
	margin-bottom: 1.5em;
	font-weight: 400;
	font-family: 'Karla';
}

ul,
ol {
	display: block;
	margin-bottom: 1.5em;
}

span {
	font-size: 18px;
	color: rgba(114, 114, 114, 0.8);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: rgba(0, 0, 0, 0.8);
	font-family: 'Playfair Display', Georgia, serif;
	margin: 0 0 30px 0;
}

.react-rotating-text-cursor {
	animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s
		infinite;
}

@keyframes blinking-cursor {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

::-webkit-selection {
	color: #fcfcfc;
	background: #b7c2c2;
}

::-moz-selection {
	color: #fcfcfc;
	background: #b7c2c2;
}

::selection {
	color: #fcfcfc;
	background: #b7c2c2;
}
